img {
  width: 1200px;
  /* position: relative; */
}

.top-left {
  position: absolute;
  top: 15px;
  left: 15px;
}
.top-right {
  position: absolute;
  top: 15px;
  right: 15px;
}
.bottom-left {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.bottom-right {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
}
span {
  font-size: 24px;
  color: aliceblue;
}
.position {
  position: absolute;
}
